* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-container {
  background: url("../resources/images/talent.png");
  background-size: cover;
  height: 100%;
}
.main-container {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  border-radius: 3px;
}

.top-section {
  flex: 0 0 50%;
}

.bottom-section {
  flex: 0 0 50%;
}

.btn {
  border: 1px solid #ddd;
  margin: 15px 0;
  align-self: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.popup-container {
  position: absolute;
  will-change: transform;
  top: -52px;
  left: -29px;
  transform: translate3d(487px, 177px, 0px);
  width: 12em;
  height: 5em;
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  font-size: 20px;
}

.form-container {
  input {
    border-radius: 2px;
    border: 1px solid rgba(15, 15, 15, 0.2);
  }
}

.bottom {
  background: #555;
  text-align: center;
  width: 100%;
  color: wheat;
}
